:host {
  display: flex;
}

.main-card {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  height: 500px;
  margin: 15px;
  overflow: scroll;
  padding: 0;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100px;
    box-sizing: border-box;
    padding: 0 2.5%;
    //border-bottom: 1px solid #d6d5d5;

    .inner-content {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }

    &:nth-child(odd){
      border-right: 1px solid #d6d5d5;
    }
  }
}
